/* Styles généraux */
body {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(images/body_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    width: 100%;
    background-color:rgba(62, 62, 62, 0.6);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 4%;
    height: 4%;
    margin-left: 20px ;
}

header h1 {
    margin: 0 auto; /* Centrage horizontal du titre */
    width: fit-content; /* Ajuste la largeur du titre au contenu */
}

header form {
    margin-right: 20px;
}

div {
    text-align: center;
    margin-top: 30px;
}

h3 {
    color: #333;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.information {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

/* Styles pour le responsive design */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    header form {
        margin: 10px 0;
    }
}
